{% extends "base.html" %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{{static_url('css/media.css')}}"/>
<link type="text/css" rel="stylesheet" href="{{static_url('css/media-pager.css')}}"/>
{% end %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Demo</a>
            <div class="nav-collapse collapse">
                <div class="pull-right dropdown">
                    <a class="dropdown-toggle btn" id="dLabel" data-toggle="dropdown" href="#">
                        <i class="icon-user"></i>{{user['name']}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="{{reverse_url('logout')}}">Logout</a></li>
                    </ul>
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="{{reverse_url('index')}}">Files</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="media-box">
            <div class="media-toolbar">
                <span class="span-tool"></span><a href="#" class="btn" id="upload"><i class="icon-upload"></i>Upload</a>
            </div>
            <div class="media-content-box" id="media-accordion">
            </div>
        </div>
        <div class="media-box">
            <div class="media-pager" id="pager">
            </div>
        </div>
    </div>
    <!--hide modal-->
    <div id="upload-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="upLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="upLabel">Upload File</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" onsubmit="start_upload();" id="upload_file_form">
                {% module xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="uploadFile">File Choose:</label>
                    <div class="controls">
                        <input type="file" multiple="multiple" id="uploadFile" name="files"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <buttin class="btn" type="submit" id="start_upload">Upload</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div id="info-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Info</h3> 
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    <div id="load-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="loadLabel">Uploading</h3>
        </div>
        <div class="modal-body">
            <div class="progress progress-striped active">
                <div class="bar"></div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>
{% end %}
{% block js %}
<script type="text/javascript" src="{{static_url('js/utils.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/uploader.js')}}"></script>
<script type="text/javascript">
    var page = {'totalpage': 1, 'page': 1};
    var files_url = '{{reverse_url("files")}}';
    var files_upload_url = '';
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
        $('#upload').bind('click', function () {
            $('#upload-modal').modal();
        });
        render_user_files();
    });
</script>
{% end %}